extends layout

block content



    table(border = '1')
        caption #{res[0]['文件类型']}
        thead
            tr
                -each title in dataTitle
                    -if (title === 'id')
                        td.title.hide(class= title) #{title}
                    -else
                        td.title(class= title) #{title}
                td 功能按钮
                td 功能按钮
                td 功能按钮
            tr#panel
                -each title in dataTitle
                    -if (title === 'id')
                        td.value.hide(name= title class= title)
                            input.value(name= title class= title)
                    -else if (Cache.updateKeys.indexOf(title) !== -1)
                        td.value。box(name= title class= title)
                            input.value(name= title class= title)
                            ul.sug.sugbg.disable
                                -each val in Cache.data[title]
                                    li.sug-val(value = val) #{val}
                            //- select.value(name= title class= title)
                                //- option(selected="selected")
                                //- -each type in Cache.data[title]
                                //-     option(value= type) #{type}
                                

                    -else
                        td.value.box(name= title class= title)
                            input.value(name= title class= title)
                            ul.sug.sugbg.disable
                                

                td.btn.add 增加
                td.btn.find 查找

        tbody#records  
            - each val, key in res
                tr.record
                    -each title in dataTitle
                        -if (title === 'id')
                            td.value.hide(name= title class= title value= val[title]) #{val[title]}
                        -else
                            td.value(name= title class= title value= val[title]) #{val[title]}
                    
                    td.btn.remove 删除
                
                    td.btn.fix 修改
                    td.btn.update.disable 保存
                    td.btn.cancel.disable 取消
                    